
  @import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Courier+Prime&family=VT323&display=swap');

  * {
    font-family: 'VT323', monospace;
  }

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #333;
  }
  
  #c {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .rain {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }
  
  .drop {
    background: white;
    border-radius: 50%;
    position: absolute;
    bottom: 100%;
    opacity: 0.7;
    animation: fall linear infinite;
  }
  
  @keyframes fall {
    to {
      transform: translateY(100vh);
    }
  }
  .small-drop {
    position: absolute;
    background: white;
    border-radius: 50%;
    opacity: 0.7;
    pointer-events: none;
  }
  
  @keyframes scatter {
    to {
      transform: translate(0, 100vh) rotate(360deg);
      opacity: 0;
    }
  }
  .slider-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
  }
  
  .cursor-circle {
    position: absolute;
    pointer-events: none;
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    display: none;
    
  }
  
  .text-overlay {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    font-size: 48px;
    color: white;
    transform: scale(1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .text-overlay:hover{
    color: blue;
    transform: rotate(0.5turn);
  }
